@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #18a369;
}

h1{
    text-align: center;
    margin: 0;
}

fieldset{
    border: none;
    width: 50%;
    padding: 50px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    min-width: 500px;
    max-width: 800px;
}

label{
    display: block;
    text-transform: capitalize;
    font-size: 20px;
}

span{
    color: rgba(255, 0, 0, 0.876);
}
input:not([type="file"]), select{
    display: block;
    height: 50px;
    width: 100%;
    margin: 15px 0;
    border: 1px solid rgba(107, 107, 107, 0.1);
    border-radius: 5px;
    padding-left: 10px;
    transition: border-color 0.3s, box-shadow 0.3s; 
    box-shadow: none;

}

input:focus{
    border: 1px solid rgb(0, 157, 255); 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 157, 255, 0.5); 
}

option{
    padding: 10px; 
    background-color: #fff;
}

input[type = "radio"]{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin:10px 10px;
}

.gender-value{
    display: inline-block;
    transform: translateY(-40%);
    text-transform: capitalize;
    color: black;
}

section{
    margin-top: 50px;
}
section:first-child{
    margin-top: 0;
}
section p{
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 1px solid rgb(107, 107, 107, 0.5);
    font-size: 20px;
}

input[type="submit"]{
    background-color: #18a369;
    color: white;
}

input[type = "file"]{
    margin: 15px 0;
    padding: 10px;
}

input::file-selector-button{
    width: 100px;
    height: 50px;
    color: transparent;
    border: 1px solid rgba(107, 107, 107, 0.1);
    border-radius: 3px;
    background: url("./images/upload.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}